.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.sidebar-wrapper {
    padding: 20px;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-icon {
    margin-right: 1rem;
}

.sidebar-button {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebar-hr {
    margin: 20px 0;
}

.sidebar-friendlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-friend {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar-friend-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}